:root {
  --element-width: 350px;
  --element-height: 50px;
  --font-color: #999999;
  --absolute-white: rgb(240,240,240);
  --primary-color: #2e2e2e;
  --secondary-color: #3c3c3c;
  --accent-color: rgb(191, 10, 125);
  --secondary-accent-color: rgba(16, 163, 127, 1);
}

body {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: ulp-font, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, sans-serif;
  color: var(--font-color);
}

.icon-svg {
  position: absolute;
  top: 20px;
  right: 50%;
}

#name-input {
  background-color: var(--secondary-color);
  width: 340px;
  height: 35px;
  font-size: 20px;
}

#pname-input {
  background-color: var(--secondary-color);
  width: 340px;
  height: 35px;
  font-size: 20px;
}

#given-name-input {
  width: 340px;
  height: 35px;
  font-size: 20px;
}

#password-input {
  width: var(--element-width);
  height: var(--element-height);
  font-size: 20px;
}

.forgot-password-link {
  width: 100%;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 20px;
}

.ename {
  font-size: 20px;
  display: inline-block;
  background-color: transparent;
  padding: 5px;
  border-radius: 2px;
}

.input-container {
  display: inline-block;
  position: relative;
  margin-top: 20px;
  border-radius: 5px;
}

input[type="text"], input[type="password"] {
  padding: 10px;
  font-size: 18px;
  border: none;
  border: 1px solid black;
  background-color: white;
  color: rgba(255,255,255,0.6);
}

#name-input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

#pname-input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

#given-name-input:focus {
  outline: none;
  background-color: transparent;
}

.custom-placeholder::placeholder {
  color: black;
  font-size: 16px;
}

input[type="text"]:focus +.ename{
  margin-top: -10px;
}

input[type="password"]:focus +.ename{
  margin-top: -30px;
  font-size: 16px;
}

label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #999;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

input[type="text"]:focus+label {
  color: var(--accent-color);
  top: 10px;
  font-size: 16px;
}


input[type="password"]:focus+label {
  color: var(--accent-color);
  font-size: 16px;
}

.submit-button {
  width: 356px;
  height: 55px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--accent-color);
  border: none;
  color: var(--absolute-white);
  font-weight: 600;
}


.hcontainer {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.hcontainer span {
  display: inline-block;
}

.hline {
  border-top: solid 1px rgba(120, 120, 120, 0.6);
  width: 350px;
  margin-bottom: 4px;
}

.htext {
  background-color: var(--primary-color);
  padding: 0 12px;
  position: absolute;
  left: 50%;
  margin-left: -26px
}

hr {
  border: 0;
  border-bottom: 1px dashed #fff;
  background: #dedede;
}

span {
  font-weight: 10;
  font-size: 15px;
}

.login-with-google-btn {
  background-color: var(--secondary-color);
  transition: background-color .3s, box-shadow .3s;
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  color: #757575;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 18px;
  font-weight: 500;
  color: var(--font-color);
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-position: 16px 18px;
  height: 55px;
  width: 356px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.login-with-google-btn:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.login-with-google-btn:active {
  background-color: var(--secondary-color);
}

.login-with-google-btn:focus {
  outline: none;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04),
    0 2px 4px rgba(0, 0, 0, .25),
    0 0 0 3px #c8dafc;
}

.login-with-google-btn:disabled {
  filter: grayscale(100%);
  background-color: #ebebeb;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  cursor: not-allowed;
}

.login-with-microsoft {
  background-color: var(--secondary-color);
  transition: background-color .3s, box-shadow .3s;
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  color: #757575;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 18px;
  font-weight: 500;
  color: var(--font-color);
  height: 55px;
  width: 356px;
  margin-bottom: 20px;
}

.login-with-microsoft:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.login-with-microsoft:active {
  background-color: var(--secondary-color);
}

.login-with-microsoft:focus {
  outline: none;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04),
    0 2px 4px rgba(0, 0, 0, .25),
    0 0 0 3px #c8dafc;
}

.login-with-microsoft:disabled {
  filter: grayscale(100%);
  background-color: #ebebeb;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  cursor: not-allowed;
}

.login-with-microsoft svg {
  position: relative;
  margin-left: -75px;
  margin-right: 55px;
  margin-top: 3px;
}

a:link {
  color: var(--accent-color);
  text-decoration: none;
}

a{
  color: var(--accent-color);
  text-decoration: none;
}

.content-policy {
  position: relative;
  font-weight: 100;
  font-size: 15px;
}