@import url("https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollbar/0.2.11/jquery.scrollbar.min.css");

:root {
  --font-color: 255 255 255;
  --accent-font-color: 170 170 170;
  --theme-background: 10 10 10;
  --footer-height: 40px;
}

body {
  font-family: 'Jura', sans-serif;
  display: flex;
  height: 100vh;
  width: 100%;
  margin: 0px;
  overflow-y: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 12px;
  background: rgb(58, 57, 55);
  background: linear-gradient(90deg, rgba(58, 57, 55, 1) 0%, rgba(58, 57, 55, 1) 39%, rgba(84, 84, 84, 1) 100%);
  margin: 0px;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 4rem;
  width: 100%;
  z-index: 4;
}

.header-logo-search {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  outline: none;
  text-decoration: none;
}

.header-logo-search:hover,
#nav .nav-logo-search:focus {
  background-color: rgba(255, 255, 255, 0.05);
}

.header-logo-search>i {
  color: rgba(255, 255, 255, 0.4);
  font-size: 1rem;
}

.profile-box {
  margin-right: 10px;
  right: 0px;
  position: absolute;
  color: rgba(255, 255, 255, 0.4);
  height: 40px;
  width: 40px;
  border-radius: 1.5rem;
  background-color: rgba(255, 255, 255, 0.1);
}

.header-logo {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  outline: none;
  text-decoration: none;
}

.header-logo:hover,
#nav .nav-logo:focus {
  background-color: rgba(255, 255, 255, 0.05);
}

.header-logo>i {
  color: rgba(255, 255, 255, 0.4);
  font-size: 1rem;
}

.search-box {
  display: flex;
  align-items: center;
  height: 40px;
  width: 190px;
  border-radius: 20px;
  background: linear-gradient(270deg, rgba(58, 57, 55, 1) 0%, rgba(58, 57, 55, 1) 20%, rgba(84, 84, 84, 1) 100%);
  padding: 0 10px;
  box-sizing: border-box;
  position: relative;
}

.search-input {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  font-size: 16px;
}

.search-circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  width: 27vw;
  position: relative;
  overflow: auto;
  overflow-x: hidden;
  height: auto;
  width: auto;
  background-color: rgb(20, 0, 20);
}

.left::-webkit-scrollbar {
  width: 6px;
  background-color: rgba(255, 255, 255, 0.1);
}

.left::-webkit-scrollbar-thumb {
  background-color: rgba(170, 170, 170, 0.4);
  border-radius: 10px;
}

.left::-webkit-scrollbar-thumb:hover {
  background-color: rgba(200, 200, 200, 0.4);
}

.left {
  scrollbar-width: thin;
  scrollbar-color: rgb(170, 170, 170) rgba(255, 255, 255, 0.1);
}

.left::-webkit-scrollbar-track {
  --webkit-box-shadow: none;
  background-color: rgba(255, 255, 255, 0.1);
}

.content-box {
  top: 60px;
  margin: 15px;
  height: auto;
  width: auto;
  border-radius: 1rem;
  background-color: rgb(33, 33, 33);
  position: relative;
}

.content-box:last-child {
  margin-bottom: 70px;
}

.playlist-songs table tr {
  display: flex;
  padding: 6px;
  color: rgba(255, 255, 255, 1);
}

.playlist-songs table td {
  display: flex;
  align-items: center;
  margin-top: 0.75rem;
  margin: 12px;
  color: white;
}

.playlist-songs table span {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}

.song-image img {
  margin-right: 20px;
  width: 48px;
  height: 48px;
}

.artist-and-album {
  display: flex;
  flex-direction: row;
}

.musicsvg {
  display: flex;
  align-items: center;
}

.album-container {
  overflow: hidden;
}

.marquee {
  display: flex;
  align-items: center;
  white-space: nowrap;
  animation: marquee 8s linear infinite;
}

.album-name {
  width: 150px;
  color: #999;
}

.space-with-dot {
  color: white;
}

.three-dots-btn-container {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: transparent;
}

.three-dots-btn-container:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  animation: 8s ease-in-out;
}

.three-dots-btn {
  fill: transparent;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 10px;
}

.three-dots-btn:hover {
  fill: grey;
  border: none;
  animation: 8s ease-in-out;
}

.artist-name {
  align-items: center;
  color: #999;
}

a:link {
  color: #999;
  text-decoration: none;
}

a:hover {
  color: #999;
  text-decoration: underline;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.right {
  width: 75%;
  position: relative;
  box-sizing: border-box;
  background-color: black;
  overflow: hidden;
}

h1,
h2,
h4,
input,
select,
button,
span,
a,
p {
  color: rgb(var(--font-color));
  font-family: "Jura", sans-serif;
  font-size: 10px;
  font-weight: 600;
  margin: 0px;
}

h3 {
  color: rgb(var(--font-color));
  font-family: "Jura", sans-serif;
  font-size: 0.5rem;
  font-weight: 300;
  margin: 0px;
}

button {
  all: unset;
}

button,
a,
input {
  outline: none;
}

#main-wrapper {
  height: 100%;
  overflow: hidden;
}

#main {
  height: 4.5vw;
  width: 70vw;
}

#right-box {
  width: 100%;
  overflow: hidden;
  position: relative;
}

#right-background-image {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  object-fit: cover;
  object-position: center;
  filter: blur(10px) brightness(50%);
}

#right-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;
  z-index: 2;
  margin-top: 1rem;
}

#right-image {
  margin-top: 40px;
  height: 20rem;
  width: 20rem;
  border-radius: 0.5rem;
}

#right-artist {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

#right-artist-image {
  float: left;
  margin-right: 10px;
  height: 1.5rem;
  width: 1.5rem;
  object-fit: cover;
  border-radius: 50%;
}

#right-song-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#right-song-name {
  font-size: 1.5rem;
  font-weight: 700;
}

#right-album-and-year {
  font-size: 1rem;
  font-weight: 700;
  color: rgb(200 200 200);
  border-bottom: 400px;
}

#tour-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  margin: 0rem;
}

#tour-actions>.tour-action {
  height: 3rem;
  width: 3rem;
  display: grid;
  place-items: center;
  background-color: rgb(255 255 255 / 10%);
  color: white;
  border-radius: 3rem;
  font-size: 1rem;
  margin-top: 30px;
}

#tour-actions>.tour-action:is(:focus, :hover) {
  background-color: rgb(255 255 255 / 15%);
  cursor: pointer;
}

#tour-actions>.tour-action.main {
  height: 4rem;
  width: 4rem;
  font-size: 1.25rem;
}