:root {
  --highlight-color: rgb(33, 150, 243);
  --body-color: rgb(30, 40, 50);
  --font-color: rgba(255, 255, 255, 0.8);
  --lighter-font-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Jura', sans-serif;
  text-align: center;
  margin: 0 auto;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  background-color: var(--body-color);
}

body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25);
}

* {
  box-sizing: border-box;
}

.highlight {
  color: var(--highlight-color);
}

.fancy-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.fancy-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.fancy-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-elements: center;
}

#text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: block;
  flex-direction: column;
  justify-elements: space-between;
  background-color: transparent;
  width: 100%;
  height: 100px;
}

.header-logo-search {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  outline: none;
  text-decoration: none;
}

.header-logo-search:hover,
#nav .nav-logo-search:focus {
  background-color: rgba(255, 255, 255, 0.05);
}

.header-logo-search>i {
  color: rgba(255, 255, 255, 0.4);
  font-size: 1rem;
}

.profile-box {
  margin-right: 10px;
  right: 0px;
  position: absolute;
  color: rgba(255, 255, 255, 0.4);
  height: 40px;
  width: 40px;
  border-radius: 1.5rem;
  background-color: rgba(255, 255, 255, 0.1);
}

.header-logo {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  outline: none;
  text-decoration: none;
}

.header-logo:hover,
#nav .nav-logo:focus {
  background-color: rgba(255, 255, 255, 0.05);
}

.header-logo>i {
  color: rgba(255, 255, 255, 0.4);
  font-size: 1rem;
}

.nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40%;
  margin: 0 auto;
}

.nav li a {
  color: var(--lighter-font-color);
  text-decoration: none;
  margin: 1vw;
  font-size: 1.5vw;
  font-weight: 400;
  font-family: var(--font-family);
}

h2 {
  color: var(--font-color);
  font-size: 30px;
  font-weight: 500;
}

h4 {
  color: var(--lighter-font-color);
  font-size: 20px;
  font-weight: 300;
}

.item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

#image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 1.5rem;
}

#image:hover {
  opacity: 0.6;
  transform: scale(1.01);
  transition: all 0.1s ease-in-out;
}


.main-text {
  color: white;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(30, 30, 30);
  height: auto;
  width: 1900px;
  margin-top: 50px;
}

.done-btn {
  position: relative;
  width: 6rem;
  height: 3rem;
  background: rgb(254, 249, 255);
  border-radius: 2rem;
  color: rgb(0, 0, 0);
  font-size: 18px;
  margin: 12px;
}